
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Main Panel</h1>
    <a href="@Url.Action("Index", "selectDoctor")">Specialist</a>
    <a href="@Url.Action("Index", "manage_database")">Manage Database</a>
</div>

