@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("Index", "Login")">Login</a>
    <a href="@Url.Action("Index", "Sign_up")">Sign Up</a>
</div>
